<!-- <app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<div class="content-body" style="min-height: 884px;">
  <app-dashboard></app-dashboard>
</div>
<app-footer></app-footer> -->
<link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
<script src =  "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<app-signin></app-signin>
  